@model Theater
@{
    ViewData["Title"] = "SignInForTheater";
}

<style>
    #navSignInForTheater {
        background-color: aliceblue;
    }

  .loginBox {
    box-shadow: 5px 15px rgba(51, 53, 69, 0.5); 
    background-color: #f2f2f2; 
    display: flex;
    flex-direction: column;
    margin: 5rem;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    border-radius: 20px;
    border: none;
    height: auto;
    font-size: medium;
}
.loginBox button{
    background-color: #333545; 
    color: white;
    padding: 0.5vh 0.5vw;
    border-color: rgba(199, 198, 198, 0.5);
    border-radius: 0.7vh;
}
</style>

<div class="loginBox">
    <form action="#" method="POST">
        <div>
            <h1>Login For Theater</h1>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.TheaterName, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.TheaterName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TheaterName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-15">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="form-group" id="signupLink"><a asp-controller="Theaters" asp-action="Create">Registration</a></div>
        <div class="form-group" id="submit"><button type="submit" class="btn btn-primary">Login</button></div>
    </form>
</div>